.container{
    background-color: black;
    width: 1700px;
    height: 900px;
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 100px 30px 150px 150px 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.header{
    background-color: #1E2328;
    grid-column: span 3;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 25px;
}
.clock{
    color: white;
    grid-column: span 3;
    padding: 5px 10px;
    text-align: right;
}
.main_1{
    background-color: #39404A;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main_1 > div:nth-child(n){
    color: #A3B0C6;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}
.main_1 > div:nth-child(1){
     grid-column: span 4;
     text-align: left;
     background-color: #505966;
     padding-left: 10px;
}
.main_2{
    background-color: #39404A;
    grid-row: span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 75px);
    grid-gap: 10px;
}
.main_2 > div{
    background-color: #636975;
    color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
}
.main_2 > div > div:nth-child(1) {
    color: #E8E9EB;
}
.main_2 > div > div:nth-child(3) {
    color: #AAABAD;
    font-size: 13px;
}
.main_3, .main_4, .main_5{
    background-color: #39404A;
    font-size: 20px;
    font-weight: 900;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.main_3 > div:nth-child(1), .main_4 > div:nth-child(1), .main_5 > div:nth-child(1){
    padding: 10px;
    color: #A3B0C6;
    background-color: #505966;
}
.main_3 > div:nth-child(2), .main_4 > div:nth-child(2){
    color: #03A6F3;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.main_5{
    background-color: #39404A;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 1fr 7fr;
}